# Variables and Conditionals

# ex.1

In [4]:
type(6)

int

In [5]:
type(6.0)

float

In [7]:
type(5+3.14)

float

In [8]:
int(7.99999999999)

7

In [9]:
float(6)

6.0

# ex.2

In [14]:
x=2

In [15]:
x+=1

In [16]:
x

3

In [17]:
x=3.0

In [18]:
x+=1

In [19]:
x

4.0

# ex.3

In [10]:
1st_number=1

SyntaxError: invalid syntax (<ipython-input-10-ac9b8cc41192>, line 1)

In [11]:
first_number=1

In [12]:
my_$=10000

SyntaxError: invalid syntax (<ipython-input-12-d47bb198a785>, line 1)

In [13]:
my_money=10000

# ex.4

In [20]:
x=5
y=2

In [21]:
x+=x-y**2

In [22]:
x,y=8,5

In [23]:
x/y

1.6

# ex.5

In [24]:
# This is a comment

In [25]:
# set the variable pi to 3.14
pi=3.14

In [26]:
pi=3.14 # set the variable pi to 3.14

# ex.6

In [27]:
print("What is your name?")

What is your name?

In [28]:
name=input()

zlatan

In [37]:
print("Hello "+name+" .")

Hello zlatan .

# ex.7

In [38]:
age=45
above_18=True
if age>18:
    above_18=False

In [39]:
type(above_18)

bool

# ex.8

In [40]:
age=20

In [41]:
age>=20 and age<=21

True

In [42]:
age!=21

True

In [43]:
age==19

False

In [44]:
6==6.0

True

In [45]:
6==42/7

True

In [46]:
6=="6"

False

In [47]:
(age>=20 and age<=30)or(age>=30 and age<=40)

True

In [48]:
(20<=age<30)or(30<=age<40)

True

# ex.9

In [49]:
age=20

In [52]:
if age>=18 and age<21:
    print("At least you can vote")
    print("Poker will have u wait")

At least you can vote
Poker will have u wait

In [53]:
if age>=18: 
    print("At least you can vote")
if age>=21:
    print("you can play poker")

At least you can vote

# ex.10

In [54]:
age=20
if age<=18:
    print("you aren't old enough to vote")
else:
    print("welcome to voting program")

welcome to voting program

In [55]:
if age>=18:
    print("welcome to voting program")
else:
    print("you aren't old enough to vote")

welcome to voting program