# ex.1

In [1]:
shopping=["bread","milk","eggs"]
print(shopping)

['bread', 'milk', 'eggs']

In [2]:
for item in shopping:
    print(item)

bread
milk
eggs

In [3]:
mixed=[365, 'days', True]
print(mixed)

[365, 'days', True]

# ex.2

In [4]:
len(shopping)

3

In [5]:
list1 = [1,2,3]
list2 = [4,5,6]
final_list=list1+list2
print(final_list)

[1, 2, 3, 4, 5, 6]

In [6]:
list3=["iiserb"]
list3*3

['iiserb', 'iiserb', 'iiserb']

# ex.3

In [7]:
shopping[1]

'milk'

In [8]:
shopping[1]="banana"

In [9]:
print(shopping)

['bread', 'banana', 'eggs']

In [10]:
shopping[-1]

'eggs'

In [11]:
print(shopping[0:2])

['bread', 'banana']

In [12]:
shopping[0:3]

['bread', 'banana', 'eggs']

In [13]:
shopping[1:3]

['banana', 'eggs']

# ex.4

In [14]:
shopping.append("apple")

In [15]:
shopping

['bread', 'banana', 'eggs', 'apple']

In [16]:
shopping=[]
shopping.extend(['bread',
'milk',
'eggs',
'apple'])
shopping

['bread', 'milk', 'eggs', 'apple']

In [17]:
shopping.insert(2,"ham")

In [18]:
shopping

['bread', 'milk', 'ham', 'eggs', 'apple']

# ex.5

In [19]:
movie = {
"title": "The Godfather",
"director": "Francis Ford Coppola",
"year": 1972,
"rating": 9.2
}

In [20]:
movie["year"]

1972

In [21]:
movie["rating"]

9.2

In [22]:
movie["rating"]=(movie["rating"]+9.3)/2

In [23]:
movie["rating"]

9.25

In [24]:
movie = {}
movie['title'] = "The Godfather"
movie['director'] = "Francis Ford Coppola"
movie['year'] = 1972
movie['rating'] = 9.2

In [26]:
movie['actors'] = ['Marlon Brando', 'Al Pacino', 'James Caan']

In [27]:
movie['other_details'] = {
'runtime': 175,
'language': 'English'
}

In [28]:
movie

{'title': 'The Godfather',
 'director': 'Francis Ford Coppola',
 'year': 1972,
 'rating': 9.2,
 'actors': ['Marlon Brando', 'Al Pacino', 'James Caan'],
 'other_details': {'runtime': 175, 'language': 'English'}}

In [30]:
employees = [
{"name": "John Mckee", "age":38, "department":"Sales"},
{"name": "John Mcenroe", "age":52, "department":"Marketing"},
{"name": "Lacoste", "age":55, "department":"IT"},
{"name": "sujan patel", "age":25, "department":"Toilet"}]

In [32]:
for i in employees:
    print("Name : ",i["name"])
    print("Age : ",i["age"])
    print("Department : ",i["department"])
    print("*"*20)

Name :  John Mckee
Age :  38
Department :  Sales
********************
Name :  John Mcenroe
Age :  52
Department :  Marketing
********************
Name :  Lacoste
Age :  55
Department :  IT
********************
Name :  sujan patel
Age :  25
Department :  Toilet
********************

In [34]:
for i in employees:
    if i["name"]=="sujan patel":
        print("Name : ",i["name"])
        print("Age : ",i["age"])
        print("Department : ",i["department"])
        print("*"*20)

Name :  sujan patel
Age :  25
Department :  Toilet
********************

# ex.6

In [35]:
orders = {'apple':5, 'orange':3, 'banana':2}
print(orders.values())
print(list(orders.values()))

dict_values([5, 3, 2])
[5, 3, 2]

In [36]:
print(list(orders.keys()))

['apple', 'orange', 'banana']

In [37]:
for tuple in list(orders.items()):
    print(tuple)

('apple', 5)
('orange', 3)
('banana', 2)

# ex.7

In [38]:
t=("bread","milk","eggs")

In [39]:
len(t)

3

In [40]:
t.append("apple")

AttributeError: 'tuple' object has no attribute 'append'

In [41]:
t[2]="apple"

TypeError: 'tuple' object does not support item assignment

In [42]:
t+("apple","orange")

('bread', 'milk', 'eggs', 'apple', 'orange')

In [43]:
t_mixed="apple",True,3

In [44]:
t_mixed

('apple', True, 3)

In [45]:
t_shopping=('apple',3), ('orange',2), ('banana',5)

In [46]:
t_shopping

(('apple', 3), ('orange', 2), ('banana', 5))

# ex.8

In [47]:
s1=set([1,2,3,4,5,6])

In [48]:
s2 = set([1,2,2,3,4,4,5,6,6])

In [49]:
s2

{1, 2, 3, 4, 5, 6}

In [50]:
s3 = set([3,4,5,6,6,6,1,1,2])

In [51]:
s3

{1, 2, 3, 4, 5, 6}

In [52]:
s4 = {"apple", "orange", "banana"}

In [53]:
s4

{'apple', 'banana', 'orange'}

In [54]:
s4.add("mango")

In [55]:
s4

{'apple', 'banana', 'mango', 'orange'}

# ex.9

In [56]:
s5 = {1,2,3,4}
s6 = {3,4,5,6}

In [57]:
s5|s6

{1, 2, 3, 4, 5, 6}

In [58]:
s5.union(s6)

{1, 2, 3, 4, 5, 6}

In [59]:
s5 & s6

{3, 4}

In [60]:
s5.intersection(s6)

{3, 4}

In [61]:
s5-s6

{1, 2}

In [62]:
s5.difference(s6)

{1, 2}

In [63]:
s5<=s6

False

In [64]:
s5.issubset(s6)

False

In [65]:
s7 = {1,2,3}
s8 = {1,2,3,4,5}
print(s7 <= s8)
print(s7.issubset(s8))

True
True

In [66]:
print(s7 < s8)
s9 = {1,2,3}
s10 = {1,2,3}
print(s9 < s10)
print(s9 < s9)

True
False
False

In [67]:
print(s8 >= s7)
print(s8.issuperset(s7))
print(s8 > s7)
print(s8 > s8)

True
True
True
False